@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: linear-gradient(180deg, #180243 0%, #390371 100%);

  color: rgba(17, 17, 17, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button:hover {
  scale: 120%;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background: transparent;
  display: flex;
  height: 64px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);

  box-shadow: 0px 2px 5px 0px rgba(1, 28, 53, 0.25);

  border-bottom-right-radius: 9px;
  border-bottom-left-radius: 9px;
}
.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  backdrop-filter: blur(30px);
  background: rgba(255, 255, 255, 0.6);
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: end;
}
.policy-terms-header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px 24px;
  position: relative;
}

.navigation__list {
  display: flex;
  flex-direction: column;

  align-items: center;

  top: 130px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 457px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;

  padding: 0px 32px;

  border-radius: 0px 0px 20px 20px;
  gap: 28px;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(30px);

  box-shadow: 0px 2px 5px 0px rgba(1, 28, 53, 0.25);
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0%;
  padding: 16px;
  text-decoration: none;
  color: rgba(14, 14, 14, 1);
  transition: all 0.3s ease-in-out;
  border: none;
}
.navigation__link:hover,
.navigation__link:focus {
  border: 2px solid rgba(244, 35, 181, 1);

  border-radius: 4px;
}
.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
    margin-right: 100px;
  }
  .policy-terms-header__icon--menu {
    display: none;
  }

  .header {
    width: 100%;

    height: 90px;
    padding: 10px 0px 10px 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
  }
  .header__background {
  }

  .header__icon-button {
    display: none;
  }

  .navigation {
    display: flex;

    flex-direction: row;

    flex: 1;
    padding: 0;

    width: 1440px;
    margin: auto;
  }
  .navigation__list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;

    padding-block: 0;
    flex: 1;
    gap: 40px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  .navigation__link {
    font-family: Poppins;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
  }

  .header__icon-home-img {
    display: none;
  }
  .navigation__item-desk {
    display: none;
  }
}

.home {
  width: 375px;
  height: 942px;

  padding: 80px 16px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/home/Mobile\ 375\ px.png");
  margin: auto;
}

.home__container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-title {
  width: 343px;
  height: 261px;
}

.home__google-button_image {
  margin-top: 24px;
}
.home__google-button_link:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1200px) {
  .home {
    width: 1440px;
    height: 1019px;
    padding: 100px 700px 0 194px;
    background-image: url("/image/home/Frame\ 236\ \(1\).png");
    position: relative;
    z-index: 2;
  }

  .home-title {
    width: 546px;
    height: 415px;
  }
}
.about {
  padding: 0px 16px 0px;
  margin: auto;
  width: 375px;
  margin-top: -6px;
  background: url("/image/Star%20Field.png");
  background-size: cover;
  background-position: center;
}

.about-title {
  font-family: Poppins;
  font-weight: 800;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
  padding: 24px 0;
  -webkit-text-stroke: 1px rgba(209, 26, 217, 1);
  background: linear-gradient(180deg, #f5fc8d 20.83%, #f9c006 78.12%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-width: 3px 0px 3px 0px;
  border-style: solid;
  border-image-source: radial-gradient(
    51.99% 134.66% at 51.99% 50.56%,
    #f423b5 0%,
    #87127e 45.4%,
    rgba(26, 2, 70, 0) 93.4%
  );
  border-image-slice: 1;
  backdrop-filter: blur(4px);
}
.about-div {
  display: flex;
  flex-direction: column;
  padding-top: 52px;
}
.about-img {
  width: 343px;
  height: 444px;
  border-radius: 12px;
  box-shadow: 0px 0px 98px 0px rgba(255, 255, 255, 0.35);
}
.about-text {
  width: 375px;
  height: 1008px;
  margin-left: -16px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/about/Game\ description\ 2.png");
  padding: 220px 86px 0 55px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about-text-two {
  padding: 215px 52px 0 89px;
  background-image: url("/image/about/Game\ description\ 1.png");
}
@media screen and (min-width: 1200px) {
  .about {
    padding: 0px 86px 0px;
    margin: auto;
    width: 1440px;
    margin-top: -0px;
  }

  .about-title {
    font-family: Poppins;
    font-weight: 800;
    font-size: 38px;
    line-height: 57px;
    letter-spacing: 0%;
    -webkit-text-stroke: 2px rgba(209, 26, 217, 1);
    border-style: solid;
    padding: 24px 0;
    border-image-source: radial-gradient(
      51.99% 134.66% at 51.99% 50.56%,
      #f423b5 0%,
      #87127e 45.4%,
      rgba(26, 2, 70, 0) 93.4%
    );
    width: 451px;
    margin: auto;
  }
  .about-title-two {
    margin-top: -200px;
    position: relative;
    z-index: 3;
  }
  .about-div {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 64px;
    gap: 244px;
    align-items: center;
  }
  .about-div-two {
    flex-direction: row;
  }
  .about-img {
    width: 420px;
    height: 543px;
  }
  .about-text {
    margin-left: 0px;
    width: 604px;
    height: 672px;
    background-image: url("/image/about/Game\ description\ 2\ \(1\).png");
    padding: 155px 150px 0 82px;

    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .about-text-two {
    padding: 143px 94px 0 143px;
    background-image: url("/image/about/Game\ description\ 1\ \(1\).png");
  }
}
.how {
  width: 375px;
  margin: auto;
  padding: 16px 16px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/Star\ Field.png");
}

.how-list {
  padding-top: 52px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.how-image {
  width: 343px;
  height: 434px;
  border-radius: 12px;
  box-shadow: 0px 0px 98px 0px rgba(255, 255, 255, 0.35);
}
.how-item {
  width: 343px;
  height: 177px;
}

.how-img {
  width: 343px;
  height: 37px;

  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background: radial-gradient(
    51.56% 190.99% at 51.38% 37.9%,
    #ffd660 0%,
    #e27117 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
}
.how-text {
  width: 343px;
  height: 140px;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  background: rgba(255, 255, 255, 0.8);
  border-width: 0px 4px 4px 4px;
  border-style: solid;
  backdrop-filter: blur(13.199999809265137px);
  border-image-slice: 1;
  border-image-source: radial-gradient(
    51.56% 190.99% at 51.38% 37.9%,
    #ffd660 0%,
    #e27117 100%
  );
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  .how {
    width: 1440px;
    margin: auto;
    padding: 92px 86px 0 618px;
    height: 972px;

    background-image: url("/image/how/Star\ Field\ \(3\).png");
  }

  .how-list {
    padding-top: 64px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
  }
  .how-image {
    display: none;
  }
  .how-item-one {
    display: none;
  }
  .how-item {
    width: 343px;
    height: 177px;
  }

  .how-img {
    width: 343px;
    height: 37px;

    padding-top: 16px;
    padding-right: 32px;
    padding-bottom: 16px;
    padding-left: 32px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background: radial-gradient(
      51.56% 190.99% at 51.38% 37.9%,
      #ffd660 0%,
      #e27117 100%
    );
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .how-text {
    width: 343px;
    height: 140px;
    padding-top: 16px;
    padding-right: 32px;
    padding-bottom: 16px;
    padding-left: 32px;
    background: rgba(255, 255, 255, 0.8);
    border-width: 0px 4px 4px 4px;
    border-style: solid;
    backdrop-filter: blur(13.199999809265137px);
    border-image-slice: 1;
    border-image-source: radial-gradient(
      51.56% 190.99% at 51.38% 37.9%,
      #ffd660 0%,
      #e27117 100%
    );
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.faq {
  padding: 80px 16px 0px;
  margin: auto;
  width: 375px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-image: url("/image/Star\ Field.png");
}
.faq-img-one {
  display: none;
}
.faq-img {
  box-shadow: 0px 0px 98px 0px rgba(255, 255, 255, 0.35);
  margin-top: 52px;
}
.faq-container {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: auto;
}

.faq-item {
  width: 343px;
  border-radius: 12px;
  padding: 16px 20px;
  background: rgba(255, 255, 255, 0.25);
  border-width: 2px 0px 2px 0px;
  border-style: solid;
  border-image-slice: 1;
  border-image-source: radial-gradient(
    44.62% 635.1% at 55.38% 50%,
    #f423b5 0%,
    #5a50c7 55.4%,
    rgba(167, 57, 190, 0) 99.4%
  );
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: Poppins;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0%;

  color: rgba(255, 255, 255, 1);
}

.toggle-button {
  background: none;
  border: none;

  cursor: pointer;
}

.faq-answer {
  color: rgba(255, 255, 255, 1);
  display: none;
  padding-top: 16px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .faq {
    padding: 80px 86px 0px;
    margin: auto;
    width: 1440px;
  }
  .faq-img-one {
    display: flex;
    margin-bottom: -80px;
    margin-top: -160px;
  }
  .faq-div {
    display: flex;
    flex-direction: row-reverse;
    gap: 144px;
  }
  .faq-img {
    box-shadow: 0px 0px 98px 0px rgba(255, 255, 255, 0.35);
    margin-top: 0px;
    width: 343px;
    height: 434px;
  }
  .faq-container {
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: auto;
  }

  .faq-item {
    width: 781px;
    border-radius: 12px;
    padding: 16px 20px;
    background: rgba(255, 255, 255, 0.25);
    border-width: 2px 0px 2px 0px;
    border-style: solid;
    border-image-slice: 1;
    border-image-source: radial-gradient(
      44.62% 635.1% at 55.38% 50%,
      #f423b5 0%,
      #5a50c7 55.4%,
      rgba(167, 57, 190, 0) 99.4%
    );
  }

  .faq-question {
    font-family: Poppins;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: center;
  }

  .faq-answer {
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: left;
  }
}
.gallery {
  width: 375px;
  margin: auto;
  padding: 80px 0px 109px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/Star\ Field.png");
}

.gallery__list {
  width: auto;
  padding-top: 52px;
  padding-bottom: 24px;
  margin: auto;
}
.gallery__item {
  width: 225px;
  height: 500px;
  overflow: hidden;
  position: relative;
  padding: 50px 0px;
  margin: 0 10px;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.gallery__list .slick-center {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
  position: relative;
  z-index: 2;
}

.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  content: none;
}

.slick-dots li {
  list-style: none;
  width: 50px;
  height: 50px;
  content: none;
}
.slick-dots li button:before {
  content: none;
}
.slick-dots li button {
  width: 100%;
  height: 100%;
  border: none;
  background: url("/image/gallery/Component\ 3.png") no-repeat center/cover;
  font-size: 0;
  content: none;
}

.slick-dots li.slick-active button {
  width: 50px;
  height: 50px;

  margin-left: -5px;
  background: url("/image/gallery/Component\ 2.png") no-repeat center/cover;
}
@media screen and (min-width: 1200px) {
  .gallery {
    width: 1440px;
    padding: 135px 0 75px;
  }

  .gallery__list {
    width: auto;
    padding: 64px 0 24px;
  }
}
.features {
  width: 375px;
  margin: auto;
  padding: 80px 16px 0px;
  background-size: cover;
  background-position: center;
  background-image: url("/image/Star Field.png");
}

.features-list {
  padding-top: 52px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.features-item {
  width: 343px;
  height: 401px;
  border-radius: 12px;
  border-width: 4px;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 32px;
  padding-left: 32px;
  background: rgba(255, 255, 255, 0.8);
  border: 4px solid;
  backdrop-filter: blur(13.199999809265137px);
  border-image-slice: 1;
  border-image-source: radial-gradient(
    51.56% 190.99% at 51.38% 37.9%,
    #ffd660 0%,
    #e27117 100%
  );
}
.features-item-top {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}
.features-text-bold {
  font-family: Poppins;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: center;
  width: 177px;
}
.features-text {
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0%;
}

@media screen and (min-width: 1200px) {
  .features {
    width: 1440px;
    margin: auto;
    padding: 130px 0px 0px;
  }

  .features-list {
    padding: 73px 314px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 126px;
    row-gap: 115px;
    background-size: cover;
    background-position: center;
    background-image: url("/image/features/Blurred\ night.png");
  }
}
.footer {
  color: #ffffff;
  padding: 16px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.footer-text {
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0%;

  text-decoration: none;
  color: #ffffff;
}

.footer-copyright {
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 20px;
  }

  .footer-wrapper {
    display: flex;
    flex-direction: row;

    gap: 60px;
  }
  .footer-text {
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
  }

  .footer-copyright {
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }
}
.policy-terms-container {
  padding: 106px 16px 18px;
  background: rgba(255, 255, 255, 0.8);
}
.policy-terms-title {
  font-family: Poppins;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
}

.policy-terms-text {
  font-family: Poppins;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0%;

  padding-top: 20px;
}
.policy-terms-texts {
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0%;

  padding-top: 8px;
}
.policy-terms-text-one {
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0%;

  padding-top: 20px;
}

.terms-list {
  list-style-type: disc;

  padding: 20px 0 20px 25px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0%;

  display: flex;
  flex-direction: column;
}

.terms-lists {
  list-style-type: disc;

  padding-left: 25px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0%;
}
.email-link {
  color: inherit;
  text-decoration: none;
}
.email-link-color {
  color: #000;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .policy-terms-container {
    padding: 120px 86px 30px;
  }
}

.cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 332px;
  border-radius: 12px;
  padding: 18px;
  background: rgba(255, 255, 255, 1);
  border: 4px solid #521e8f;

  text-align: center;
  z-index: 1000;

  display: none;
}

.cookie-popup-text-two {
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: center;

  color: rgba(0, 0, 0, 1);
}
.cookie-button-container {
  padding: 24px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.cookie-button {
  width: 205px;
  height: 60px;
  border-radius: 45px;
  border-width: 3px;
  box-shadow: 0px 4px 16px 0px rgba(76, 15, 111, 0.45);
  border: 3px solid #f423b5;
  font-family: Poppins;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0%;

  background-color: transparent;
}
#accept-cookies {
  background: radial-gradient(
    107.61% 457.35% at 85.47% 89.71%,
    #5a50c7 0%,
    #f423b5 100%
  );
  border: none;
  color: rgba(255, 255, 255, 1);
}
.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .cookie-popup-text-two {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: center;
  }
  .cookie-button-container {
    padding: 32px 0 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 32px;
  }
  .cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 685px;

    padding: 60px 32px;
    display: none;
  }

  .cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
